@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Saf Beyaz */
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 222 47% 4%; /* Çok Koyu Lacivert (Deep Navy) */
    --foreground: 210 40% 98%;
    --card: 222 47% 7%;
    --border: 217.2 32.6% 17.5%;
  }
}

* {
  @apply transition-colors duration-300; /* Tüm geçişleri yumuşatır */
}

body {
  @apply bg-background text-foreground antialiased;
}
/* src/app/globals.css */

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: #9333ea !important; /* Senin morun */
  color: white !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #f3e8ff !important; /* Hafif mor hover */
  color: #9333ea !important;
}
